Web App/web/WEB-INF/wsdl/localhost_8081/Marketplace_Web_Service/AddProductWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://AddProductModel/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://AddProductModel/" name="AddProductWS">
<types>
<xsd:schema>
<xsd:import namespace="http://AddProductModel/" schemaLocation="http://localhost:8081/Marketplace_Web_Service/AddProductWS?xsd=1"/>
</xsd:schema>
</types>
<message name="addProduct">
<part name="parameters" element="tns:addProduct"/>
</message>
<message name="addProductResponse">
<part name="parameters" element="tns:addProductResponse"/>
</message>
<message name="ProtocolException">
<part name="fault" element="tns:ProtocolException"/>
</message>
<message name="IOException">
<part name="fault" element="tns:IOException"/>
</message>
<message name="ParseException">
<part name="fault" element="tns:ParseException"/>
</message>
<portType name="AddProductWS">
<operation name="addProduct">
<input wsam:Action="http://AddProductModel/AddProductWS/addProductRequest" message="tns:addProduct"/>
<output wsam:Action="http://AddProductModel/AddProductWS/addProductResponse" message="tns:addProductResponse"/>
<fault message="tns:ProtocolException" name="ProtocolException" wsam:Action="http://AddProductModel/AddProductWS/addProduct/Fault/ProtocolException"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://AddProductModel/AddProductWS/addProduct/Fault/IOException"/>
<fault message="tns:ParseException" name="ParseException" wsam:Action="http://AddProductModel/AddProductWS/addProduct/Fault/ParseException"/>
</operation>
</portType>
<binding name="AddProductWSPortBinding" type="tns:AddProductWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="addProduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ProtocolException">
<soap:fault name="ProtocolException" use="literal"/>
</fault>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
<fault name="ParseException">
<soap:fault name="ParseException" use="literal"/>
</fault>
</operation>
</binding>
<service name="AddProductWS">
<port name="AddProductWSPort" binding="tns:AddProductWSPortBinding">
<soap:address location="http://localhost:8081/Marketplace_Web_Service/AddProductWS"/>
</port>
</service>
</definitions>