Web App/web/WEB-INF/wsdl/localhost_8081/Marketplace_Web_Service/EditProductWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://EditProductModel/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://EditProductModel/">

<xs:element name="IOException" type="tns:IOException"/>

<xs:element name="ParseException" type="tns:ParseException"/>

<xs:element name="ProtocolException" type="tns:ProtocolException"/>

<xs:element name="editProduct" type="tns:editProduct"/>

<xs:element name="editProductResponse" type="tns:editProductResponse"/>

<xs:element name="setCurrentProduct" type="tns:setCurrentProduct"/>

<xs:element name="setCurrentProductResponse" type="tns:setCurrentProductResponse"/>

<xs:element name="validasiTokenEdit" type="tns:validasiTokenEdit"/>

<xs:element name="validasiTokenEditResponse" type="tns:validasiTokenEditResponse"/>

<xs:complexType name="setCurrentProduct">
<xs:sequence>
<xs:element name="access_token" type="xs:string" minOccurs="0"/>
<xs:element name="product_id" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="setCurrentProductResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="IOException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ParseException">
<xs:sequence>
<xs:element name="errorType" type="xs:int"/>
<xs:element name="message" type="xs:string" minOccurs="0"/>
<xs:element name="position" type="xs:int"/>
<xs:element name="unexpectedObject" type="xs:anyType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="validasiTokenEdit">
<xs:sequence>
<xs:element name="access_token" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="validasiTokenEditResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="editProduct">
<xs:sequence>
<xs:element name="access_token" type="xs:string" minOccurs="0"/>
<xs:element name="product_id" type="xs:string" minOccurs="0"/>
<xs:element name="product_name" type="xs:string" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="price" type="xs:string" minOccurs="0"/>
<xs:element name="img_name" type="xs:string" minOccurs="0"/>
<xs:element name="img_byte" type="xs:base64Binary" nillable="true" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="editProductResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ProtocolException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>