Web App/web/WEB-INF/wsdl/localhost_8081/Marketplace_Web_Service/EditProductWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://EditProductModel/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://EditProductModel/" name="EditProductWS">
<types>
<xsd:schema>
<xsd:import namespace="http://EditProductModel/" schemaLocation="http://localhost:8081/Marketplace_Web_Service/EditProductWS?xsd=1"/>
</xsd:schema>
</types>
<message name="setCurrentProduct">
<part name="parameters" element="tns:setCurrentProduct"/>
</message>
<message name="setCurrentProductResponse">
<part name="parameters" element="tns:setCurrentProductResponse"/>
</message>
<message name="IOException">
<part name="fault" element="tns:IOException"/>
</message>
<message name="ParseException">
<part name="fault" element="tns:ParseException"/>
</message>
<message name="validasiTokenEdit">
<part name="parameters" element="tns:validasiTokenEdit"/>
</message>
<message name="validasiTokenEditResponse">
<part name="parameters" element="tns:validasiTokenEditResponse"/>
</message>
<message name="editProduct">
<part name="parameters" element="tns:editProduct"/>
</message>
<message name="editProductResponse">
<part name="parameters" element="tns:editProductResponse"/>
</message>
<message name="ProtocolException">
<part name="fault" element="tns:ProtocolException"/>
</message>
<portType name="EditProductWS">
<operation name="setCurrentProduct">
<input wsam:Action="http://EditProductModel/EditProductWS/setCurrentProductRequest" message="tns:setCurrentProduct"/>
<output wsam:Action="http://EditProductModel/EditProductWS/setCurrentProductResponse" message="tns:setCurrentProductResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://EditProductModel/EditProductWS/setCurrentProduct/Fault/IOException"/>
<fault message="tns:ParseException" name="ParseException" wsam:Action="http://EditProductModel/EditProductWS/setCurrentProduct/Fault/ParseException"/>
</operation>
<operation name="validasiTokenEdit">
<input wsam:Action="http://EditProductModel/EditProductWS/validasiTokenEditRequest" message="tns:validasiTokenEdit"/>
<output wsam:Action="http://EditProductModel/EditProductWS/validasiTokenEditResponse" message="tns:validasiTokenEditResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://EditProductModel/EditProductWS/validasiTokenEdit/Fault/IOException"/>
<fault message="tns:ParseException" name="ParseException" wsam:Action="http://EditProductModel/EditProductWS/validasiTokenEdit/Fault/ParseException"/>
</operation>
<operation name="editProduct">
<input wsam:Action="http://EditProductModel/EditProductWS/editProductRequest" message="tns:editProduct"/>
<output wsam:Action="http://EditProductModel/EditProductWS/editProductResponse" message="tns:editProductResponse"/>
<fault message="tns:ProtocolException" name="ProtocolException" wsam:Action="http://EditProductModel/EditProductWS/editProduct/Fault/ProtocolException"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://EditProductModel/EditProductWS/editProduct/Fault/IOException"/>
<fault message="tns:ParseException" name="ParseException" wsam:Action="http://EditProductModel/EditProductWS/editProduct/Fault/ParseException"/>
</operation>
</portType>
<binding name="EditProductWSPortBinding" type="tns:EditProductWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="setCurrentProduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
<fault name="ParseException">
<soap:fault name="ParseException" use="literal"/>
</fault>
</operation>
<operation name="validasiTokenEdit">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
<fault name="ParseException">
<soap:fault name="ParseException" use="literal"/>
</fault>
</operation>
<operation name="editProduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ProtocolException">
<soap:fault name="ProtocolException" use="literal"/>
</fault>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
<fault name="ParseException">
<soap:fault name="ParseException" use="literal"/>
</fault>
</operation>
</binding>
<service name="EditProductWS">
<port name="EditProductWSPort" binding="tns:EditProductWSPortBinding">
<soap:address location="http://localhost:8081/Marketplace_Web_Service/EditProductWS"/>
</port>
</service>
</definitions>