Web App/src/conf/xml-resources/web-service-references/SalesWS/wsdl/localhost_8081/Marketplace_Web_Service/SalesWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://SalesModel/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://SalesModel/" name="SalesWS">
<types>
<xsd:schema>
<xsd:import namespace="http://SalesModel/" schemaLocation="http://localhost:8081/Marketplace_Web_Service/SalesWS?xsd=1"/>
</xsd:schema>
</types>
<message name="hasSales">
<part name="parameters" element="tns:hasSales"/>
</message>
<message name="hasSalesResponse">
<part name="parameters" element="tns:hasSalesResponse"/>
</message>
<message name="getSales">
<part name="parameters" element="tns:getSales"/>
</message>
<message name="getSalesResponse">
<part name="parameters" element="tns:getSalesResponse"/>
</message>
<message name="IOException">
<part name="fault" element="tns:IOException"/>
</message>
<message name="ParseException">
<part name="fault" element="tns:ParseException"/>
</message>
<portType name="SalesWS">
<operation name="hasSales">
<input wsam:Action="http://SalesModel/SalesWS/hasSalesRequest" message="tns:hasSales"/>
<output wsam:Action="http://SalesModel/SalesWS/hasSalesResponse" message="tns:hasSalesResponse"/>
</operation>
<operation name="getSales">
<input wsam:Action="http://SalesModel/SalesWS/getSalesRequest" message="tns:getSales"/>
<output wsam:Action="http://SalesModel/SalesWS/getSalesResponse" message="tns:getSalesResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://SalesModel/SalesWS/getSales/Fault/IOException"/>
<fault message="tns:ParseException" name="ParseException" wsam:Action="http://SalesModel/SalesWS/getSales/Fault/ParseException"/>
</operation>
</portType>
<binding name="SalesWSPortBinding" type="tns:SalesWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="hasSales">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getSales">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
<fault name="ParseException">
<soap:fault name="ParseException" use="literal"/>
</fault>
</operation>
</binding>
<service name="SalesWS">
<port name="SalesWSPort" binding="tns:SalesWSPortBinding">
<soap:address location="http://localhost:8081/Marketplace_Web_Service/SalesWS"/>
</port>
</service>
</definitions>