Web App/src/conf/xml-resources/web-service-references/PurchasesWS/wsdl/localhost_8081/Marketplace_Web_Service/PurchasesWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://PurchasesModel/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://PurchasesModel/" name="PurchasesWS">
<types>
<xsd:schema>
<xsd:import namespace="http://PurchasesModel/" schemaLocation="http://localhost:8081/Marketplace_Web_Service/PurchasesWS?xsd=1"/>
</xsd:schema>
</types>
<message name="getPurchases">
<part name="parameters" element="tns:getPurchases"/>
</message>
<message name="getPurchasesResponse">
<part name="parameters" element="tns:getPurchasesResponse"/>
</message>
<message name="IOException">
<part name="fault" element="tns:IOException"/>
</message>
<message name="ParseException">
<part name="fault" element="tns:ParseException"/>
</message>
<message name="hasPurchases">
<part name="parameters" element="tns:hasPurchases"/>
</message>
<message name="hasPurchasesResponse">
<part name="parameters" element="tns:hasPurchasesResponse"/>
</message>
<portType name="PurchasesWS">
<operation name="getPurchases">
<input wsam:Action="http://PurchasesModel/PurchasesWS/getPurchasesRequest" message="tns:getPurchases"/>
<output wsam:Action="http://PurchasesModel/PurchasesWS/getPurchasesResponse" message="tns:getPurchasesResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://PurchasesModel/PurchasesWS/getPurchases/Fault/IOException"/>
<fault message="tns:ParseException" name="ParseException" wsam:Action="http://PurchasesModel/PurchasesWS/getPurchases/Fault/ParseException"/>
</operation>
<operation name="hasPurchases">
<input wsam:Action="http://PurchasesModel/PurchasesWS/hasPurchasesRequest" message="tns:hasPurchases"/>
<output wsam:Action="http://PurchasesModel/PurchasesWS/hasPurchasesResponse" message="tns:hasPurchasesResponse"/>
</operation>
</portType>
<binding name="PurchasesWSPortBinding" type="tns:PurchasesWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getPurchases">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
<fault name="ParseException">
<soap:fault name="ParseException" use="literal"/>
</fault>
</operation>
<operation name="hasPurchases">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="PurchasesWS">
<port name="PurchasesWSPort" binding="tns:PurchasesWSPortBinding">
<soap:address location="http://localhost:8081/Marketplace_Web_Service/PurchasesWS"/>
</port>
</service>
</definitions>