Web App/src/conf/xml-resources/web-service-references/PurchasesWS/wsdl/localhost_8081/Marketplace_Web_Service/PurchasesWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://PurchasesModel/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://PurchasesModel/">

<xs:element name="IOException" type="tns:IOException"/>

<xs:element name="ParseException" type="tns:ParseException"/>

<xs:element name="getPurchases" type="tns:getPurchases"/>

<xs:element name="getPurchasesResponse" type="tns:getPurchasesResponse"/>

<xs:element name="hasPurchases" type="tns:hasPurchases"/>

<xs:element name="hasPurchasesResponse" type="tns:hasPurchasesResponse"/>

<xs:complexType name="hasPurchases">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hasPurchasesResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getPurchases">
<xs:sequence>
<xs:element name="access_token" type="xs:string" minOccurs="0"/>
<xs:element name="user_agent" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getPurchasesResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="IOException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ParseException">
<xs:sequence>
<xs:element name="errorType" type="xs:int"/>
<xs:element name="message" type="xs:string" minOccurs="0"/>
<xs:element name="position" type="xs:int"/>
<xs:element name="unexpectedObject" type="xs:anyType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>